div {
    background-color: transparent;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100vh;
    width: 10vw;
    position: fixed;
}

.bar {
    z-index: 100;
}

button {
    color: azure;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    transition: border-bottom 0.2s, filter 0.3s, font-size 0.2s, scale 0.3s;
    background-color: transparent;
    width: 75%;
    height: 2em;
    font-size: 1.5em;
    font-weight: 150;
    text-align: left;
    padding-left: 5%;
    padding-top: 0;
    margin-left: 10%;

}

@media only screen and (max-width: 680px) {
    div.bar {
        flex-direction: row;
        justify-content: center;
        align-self: flex-start;
        width: 100vw;
        height: 10vh;
        margin-top: -90vh;
    }

    button {
        padding-left: 0;
        padding-top: 5%;
        text-align: center;
        margin-left: 0;
        width: 60%;
        padding-bottom: 7%;
    }
}


button:hover {
    filter: drop-shadow(0 0 10px #7fffe1);
    scale: 1.1;
}

button:active {
    scale: 0.9;
}

button.selected {
    color: #7fffe1;
    font-size: 2em;
    border-bottom: solid 2px#7fffe1;
}

@media (prefers-color-scheme: light) {
    button {
        color: #090310;
    }

    button.selected {
        color: #9D00FF;
        border-bottom: solid 2px #9D00FF;
    }
}