div.cardContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(auto-fill, 30vh);
    row-gap: 5vh;
    column-gap: 5vh;
    width: 60vw;
    height: 100vh;
    margin-left: 90vw;
    align-items: left;
    position: relative;
    margin-top: 10vh;
}

@media only screen and (max-width: 1000px) {
    div.cardContainer {
        grid-template-columns: 400px;
        margin-top: 30vh;
    }
}

@media only screen and (max-width: 680px) {
    div.cardContainer {
        grid-template-columns: 400px;
        margin-top: 20vh;
        row-gap: 2vh;
    }

    .planetDiv {
        justify-content: flex-end;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        margin-left: -102vw;
    }
}

@media only screen and (max-width: 440px) {
    div.cardContainer {
        grid-template-columns: 300px;
        grid-template-rows: repeat(auto-fill, 22.5vh);
        width: 40vw;
        margin-top: 15vh;
    }
}

.planetDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0%;
    height: 100vh;
    width: 0.5vw;
    position: fixed;
    z-index: -10;
}