div.cardContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(auto-fill, 30vh);
    row-gap: 5vh;
    column-gap: 5vh;
    width: 60vw;
    height: 100vh;
    margin-left: 92.5vw;
    align-items: left;
    position: absolute;
    margin-top: 10vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

div.cardContainer::-webkit-scrollbar {
    display: none;
}

.planetDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0%;
    height: 100vh;
    width: 0.5vw;
    position: fixed;
    z-index: -10;
}

@media only screen and (max-width: 1000px) {
    div.cardContainer {
        grid-template-columns: 400px;
        margin-top: 30vh;
    }
}

@media only screen and (max-width: 680px) {
    div.cardContainer {
        grid-template-columns: 400px;
        margin-top: 24vh;
        row-gap: 2vh;
    }

    div.planetDiv {
        justify-content: flex-end;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (max-width: 440px) {
    div.cardContainer {
        grid-template-columns: 300px;
        grid-template-rows: repeat(auto-fill, 22.5vh);
        width: 40vw;
        margin-top: 25vh;
    }


}