:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: light;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #120621;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0d0418;
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;


}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  body {
    color: #0a0313;
    background-color: #EEEEEE;
  }

  :root {
    color: #0a0313;

  }
}

a {
  color: #9D00FF;
  text-decoration: none;
}