.logos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
}

.logo-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.logo.orb {
    filter: drop-shadow(0 0 1rem #7fffe194);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    img:nth-of-type(2).logo {
        animation: logo-spin infinite 20s linear;
    }
}

@media (prefers-color-scheme: light) {
    #root {
        color: #090310;
        background-color: #ffffff;
    }
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .options {
        flex-direction: row;
        justify-content: center;
    }
}

button {
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: transparent;
    width: 10%;
    height: 5%;

}

@media (prefers-color-scheme: light) {
    button {
        color: #090310;
    }
}

button.option:hover {
    filter: drop-shadow(0 0 1rem #7fffe194);
    scale: 1.1;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}